
<form [formGroup]="editMemberForm" (ngSubmit)="updateMemberDetail();">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="fName-{{index}}">First Name</label>
				<input type="text" class="form-control" id="fName-{{index}}" [formControl]="fName">
			</div>
			<div class="form-group">
				<label for="lName-{{index}}">Last Name</label>
				<input type="text" class="form-control" id="lName-{{index}}" [formControl]="lName">
			</div>
			<div class="form-group">
				<label for="psaId-{{index}}">PSA ID</label>
				<input type="text" class="form-control" id="psaId-{{index}}" [formControl]="psaId">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="location-{{index}}">Location</label>
				<input type="text" class="form-control" id="location-{{index}}" [formControl]="location">
			</div>
			<div class="form-group" formGroupName="birthday">
				<label for="birthday-day-{{index}}">Birthday</label>
				<div class="row">
					<div class="col-md-3">
						<input type="text" class="form-control" id="birthday-day-{{index}}" [formControl]="birthday.day" placeholder="Day">
					</div>
					<div class="col-md-4">
<!--					<label for="birthday-month-{{index}}">Month</label>-->
						<select class="form-control" id="birthday-month-{{index}}" [formControl]="birthday.month">
							<option disabled>Month</option>
							<option *ngFor="let month of months; let i = index;" [value]="i + 1">{{month}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group" formGroupName="dateOfJoining">
				<label for="dateOfJoining-day-{{index}}">Date of Joining</label>
				<div class="row">
					<div class="col-md-3">
						<input type="text" class="form-control" id="dateOfJoining-day-{{index}}" [formControl]="dateOfJoining.day" placeholder="Day">
					</div>
					<div class="col-md-4">
<!--					<label for="birthday-month-{{index}}">Month</label>-->
						<select class="form-control" id="dateOfJoining-month-{{index}}" [formControl]="dateOfJoining.month">
							<option disabled>Month</option>
							<option *ngFor="let month of months; let i = index;" [value]="i + 1">{{month}}</option>
						</select>
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" id="dateOfJoining-year-{{index}}" [formControl]="dateOfJoining.year" placeholder="Year">
					</div>
				</div>
			</div>
			<div class="text-right">
				<button class="btn btn-primary" type="submit">Update</button>
				<button class="btn btn-secondary" type="button" (click)="closeEditing();">Cancel</button>
			</div>
		</div>
	</div>
</form>