<div class="row">
	<div class="col-md-8">
		<h1>Members List</h1>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>ID</th>
						<th>Location</th>
						<th>Email</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let member of members; let i = index;">
						<td [hidden]="isEditing[i]">{{member.fName + " " + member.lName}}</td>
						<td [hidden]="isEditing[i]">{{member.psaId}}</td>
						<td [hidden]="isEditing[i]">{{member.location}}</td>
						<td [hidden]="isEditing[i]">{{member.email}}</td>
						<td [hidden]="isEditing[i]">
							<button class="btn btn-sm btn-outline-primary" (click)="isEditing[i] = true"><span class="glyphicon glyphicon-edit"></span></button>
						</td>
						<td [hidden]="isEditing[i]">
							<button class="btn btn-sm btn-outline-danger"><span class="glyphicon glyphicon-remove"></span></button>
						</td>
						<td *ngIf="isEditing[i]" colspan="6" xd-edit-member-form [member]="member" (closeEdit)="closeEditing(i);" (updateMember)="updateMemberData(i, $event);"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<xd-add-member-form></xd-add-member-form>
	</div>
</div>