<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="home">IntrActivities</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="birthdays" routerLinkActive="active">Birthdays</a></li>
            <li><a routerLink="workAnniversaries" routerLinkActive="active">Work Anniversaries</a></li>
        </ul>
    </div>
</nav>