<nav class="navbar navbar-toggleable navbar-light bg-faded">
	<a class="navbar-brand" routerLink="home">IntrActivities</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
		<li class="nav-item"><a class="nav-link" routerLink="birthdays" routerLinkActive="active">Birthdays</a></li>
		<li class="nav-item"><a class="nav-link" routerLink="workAnniversaries" routerLinkActive="active">Work Anniversaries</a></li>
		<li class="nav-item"><a class="nav-link" routerLink="members" routerLinkActive="active">Members Directory</a></li>
	</ul>
</nav>