/* You can add global styles to this file, and also import other style files */
body{
	font-size: 14px;
}
a{
	text-decoration: none !important;
}
.container-fluid{
	margin-top: 20px;
}
label.required:after{
	content: " *";
	color: #d9534f !important;
}
