<div class="row">
    <div class="col-md-12">    
        <div *ngIf="membersWithBirthdayToday.length > 0">
            <h2>Birthdays Today</h2>
            <xd-birthday-list [members]="membersWithBirthdayToday" [isFilteredList]="true"></xd-birthday-list>
        </div>
        <div *ngIf="membersWithWorkAnniversaryToday.length > 0">
            <h2>Work Anniversaries Today</h2>
            <xd-work-anniversary-list [members]="membersWithWorkAnniversaryToday" [isFilteredList]="true"></xd-work-anniversary-list>
        </div>
        <div *ngIf="membersWithUpcomingBirthday.length > 0">
            <h2>Upcoming Birthdays</h2>
            <xd-birthday-list [members]="membersWithUpcomingBirthday" [isFilteredList]="true"></xd-birthday-list>
        </div>
        <div *ngIf="membersWithUpcomingWorkAnniversary.length > 0">
            <h2>Upcoming Work Anniversaries</h2>
            <xd-work-anniversary-list [members]="membersWithUpcomingWorkAnniversary" [isFilteredList]="true"></xd-work-anniversary-list>
        </div>
    </div>
</div>