<div *ngIf="membersWithBirthdayToday.length > 0">
    <h1>Birthdays Today</h1>
    <xd-birthday-list [members]="membersWithBirthdayToday" [isFilteredList]="true"></xd-birthday-list>
</div>
<div *ngIf="membersWithWorkAnniversaryToday.length > 0">
    <h1>Work Anniversaries Today</h1>
    <xd-work-anniversary-list [members]="membersWithWorkAnniversaryToday" [isFilteredList]="true"></xd-work-anniversary-list>
</div>
<div *ngIf="membersWithUpcomingBirthday.length > 0">
    <h1>Upcoming Birthdays</h1>
    <xd-birthday-list [members]="membersWithUpcomingBirthday" [isFilteredList]="true"></xd-birthday-list>
</div>
<div *ngIf="membersWithUpcomingWorkAnniversary.length > 0">
    <h1>Upcoming Work Anniversaries</h1>
    <xd-work-anniversary-list [members]="membersWithUpcomingWorkAnniversary" [isFilteredList]="true"></xd-work-anniversary-list>
</div>